In [1]:
tracks={}
for no in ['A','B','C','D']:
    tracks[no] = pd.read_csv("dataset/track_" + no + ".csv", parse_dates=["date"])

In [2]:
equipments={}
for no in ['A','B','C','D']:
    equipments[no] = pd.read_csv("dataset/equipment_" + no + ".csv")

In [41]:
kilos = pd.DataFrame()
for no in ['A','B','C','D']:
    track = tracks[no]

    kilo = pd.DataFrame(columns=['キロ程', 'rosen', 'intercept', 'slope'])
    kilo['キロ程'] = track['キロ程'].unique()
    kilo['rosen'] = no

    kilos = pd.concat([kilos, kilo], axis=0)
kilos = kilos.reset_index(drop=True)

In [42]:
kilos

          キロ程 rosen intercept slope
0       10000     A       NaN   NaN
1       10001     A       NaN   NaN
2       10002     A       NaN   NaN
3       10003     A       NaN   NaN
4       10004     A       NaN   NaN
5       10005     A       NaN   NaN
6       10006     A       NaN   NaN
7       10007     A       NaN   NaN
8       10008     A       NaN   NaN
9       10009     A       NaN   NaN
10      10010     A       NaN   NaN
11      10011     A       NaN   NaN
12      10012     A       NaN   NaN
13      10013     A       NaN   NaN
14      10014     A       NaN   NaN
15      10015     A       NaN   NaN
16      10016     A       NaN   NaN
17      10017     A       NaN   NaN
18      10018     A       NaN   NaN
19      10019     A       NaN   NaN
20      10020     A       NaN   NaN
21      10021     A       NaN   NaN
22      10022     A       NaN   NaN
23      10023     A       NaN   NaN
24      10024     A       NaN   NaN
25      10025     A       NaN   NaN
26      10026     A       NaN   NaN
27      10027     A       NaN   NaN
28      10028     A       NaN   NaN
29      10029     A       NaN   NaN
...       ...   ...       ...   ...
120782  25661     D       NaN   NaN
120783  25662     D       NaN   NaN
120784  25663     D       NaN   NaN
120785  25664     D       NaN   NaN
120786  25665     D       NaN   NaN
120787  25666     D       NaN   NaN
120788  25667     D       NaN   NaN
120789  25668     D       NaN   NaN
120790  25669     D       NaN   NaN
120791  25670     D       NaN   NaN
120792  25671     D       NaN   NaN
120793  25672     D       NaN   NaN
120794  25673     D       NaN   NaN
120795  25674     D       NaN   NaN
120796  25675     D       NaN   NaN
120797  25676     D       NaN   NaN
120798  25677     D       NaN   NaN
120799  25678     D       NaN   NaN
120800  25679     D       NaN   NaN
120801  25680     D       NaN   NaN
120802  25681     D       NaN   NaN
120803  25682     D       NaN   NaN
120804  25683     D       NaN   NaN
120805  25684     D       NaN   NaN
120806  25685     D       NaN   NaN
120807  25686     D       NaN   NaN
120808  25687     D       NaN   NaN
120809  25688     D       NaN   NaN
120810  25689     D       NaN   NaN
120811  25690     D       NaN   NaN

[120812 rows x 4 columns]

In [34]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [49]:
def get_intercept_slope(data):
    data = data.dropna()
    X = [[x] for x in data.index]
    y = data.values
    clf.fit(X, y)
    return clf.intercept_, clf.coef_[0]

In [52]:
track

               date    キロ程   高低左   高低右   通り左   通り右    水準    軌間     速度
0        2017-04-01  10000 -1.16 -0.23  1.20  1.20  0.83  3.89  84.00
1        2017-04-01  10001 -1.17 -0.30  1.88  1.88  0.67  4.63  84.00
2        2017-04-01  10002 -1.09 -0.19  2.30  2.30  0.50  5.33  84.00
3        2017-04-01  10003 -0.64  0.20  2.28  2.28  0.46  5.90  84.00
4        2017-04-01  10004  0.47  0.89  1.74  1.74  0.62  6.38  84.50
5        2017-04-01  10005  2.10  1.63  0.82  0.82  0.93  6.87  84.50
6        2017-04-01  10006  3.61  1.89 -0.18 -0.18  1.30  7.38  84.50
7        2017-04-01  10007  4.05  1.12 -0.91 -0.91  1.60  7.78  85.00
8        2017-04-01  10008  2.71 -0.83 -1.20 -1.20  1.66  7.80  85.00
9        2017-04-01  10009 -0.29 -3.42 -1.13 -1.13  1.21  7.25  85.00
10       2017-04-01  10010 -3.92 -5.60 -1.02 -1.02  0.12  6.11  85.00
11       2017-04-01  10011 -6.65 -6.30 -1.17 -1.17 -1.49  4.65  85.00
12       2017-04-01  10012 -7.25 -5.05 -1.65 -1.65 -3.13  3.18  85.00
13       2017-04-01  10013 -5.39 -2.25 -2.21 -2.21 -4.21  1.87  85.00
14       2017-04-01  10014 -1.87  1.09 -2.44 -2.44 -4.45  0.76  85.00
15       2017-04-01  10015  1.83  3.81 -2.03 -2.03 -4.05 -0.14  85.00
16       2017-04-01  10016  4.21  5.13 -1.02 -1.02 -3.57 -0.76  85.00
17       2017-04-01  10017  4.40  4.81  0.22  0.22 -3.47 -1.01  85.00
18       2017-04-01  10018  2.55  3.16  1.19  1.19 -3.79 -0.98  85.00
19       2017-04-01  10019 -0.37  0.86  1.48  1.48 -4.19 -0.95  85.00
20       2017-04-01  10020 -3.03 -1.32  0.99  0.99 -4.25 -1.15  85.00
21       2017-04-01  10021 -4.37 -2.75 -0.04 -0.04 -3.80 -1.59  85.00
22       2017-04-01  10022 -4.08 -3.16 -1.20 -1.20 -2.98 -2.03  85.00
23       2017-04-01  10023 -2.66 -2.75 -2.10 -2.10 -2.11 -2.22  85.50
24       2017-04-01  10024 -1.04 -2.01 -2.47 -2.47 -1.44 -2.16  85.50
25       2017-04-01  10025  0.02 -1.38 -2.28 -2.28 -1.02 -2.04  85.50
26       2017-04-01  10026  0.37 -0.93 -1.67 -1.67 -0.78 -2.13  86.00
27       2017-04-01  10027  0.39 -0.39 -0.84 -0.84 -0.66 -2.50  86.00
28       2017-04-01  10028  0.58  0.54 -0.01 -0.01 -0.62 -3.03  86.00
29       2017-04-01  10029  1.06  1.78  0.66  0.66 -0.63 -3.52  86.00
...             ...    ...   ...   ...   ...   ...   ...   ...    ...
10185660 2018-03-31  37876 -3.93 -2.65  2.15  2.39 -1.17 -0.98  39.00
10185661 2018-03-31  37877 -1.71 -1.32  1.77  1.55 -0.66 -1.25  39.00
10185662 2018-03-31  37878  0.98  0.29  1.64  0.69  0.32 -1.06  39.00
10185663 2018-03-31  37879  3.08  1.49  1.69  0.47  1.36 -0.62  39.00
10185664 2018-03-31  37880  3.75  1.79  1.72  1.16  1.92 -0.53  39.00
10185665 2018-03-31  37881  2.84  1.04  1.64  2.55  1.78 -1.22  39.00
10185666 2018-03-31  37882  0.87 -0.49  1.61  4.04  1.26 -2.46  39.00
10185667 2018-03-31  37883 -1.21 -2.17  1.94  5.06  0.88 -3.39  39.00
10185668 2018-03-31  37884 -2.50 -3.22  2.82  5.33  0.89 -3.25  39.00
10185669 2018-03-31  37885 -2.56 -3.10  4.10  5.02  1.05 -2.05  39.00
10185670 2018-03-31  37886 -1.56 -1.78  5.34  4.67  0.92 -0.60  38.19
10185671 2018-03-31  37887 -0.10  0.16  6.12  4.78  0.34  0.14  38.00
10185672 2018-03-31  37888  1.10  1.86  6.36  5.57 -0.40 -0.13  38.00
10185673 2018-03-31  37889  1.60  2.60  6.34  6.81 -0.86 -0.89  38.00
10185674 2018-03-31  37890  1.32  2.19  6.45  8.01 -0.82 -1.26  38.00
10185675 2018-03-31  37891  0.59  1.03  6.91  8.69 -0.52 -0.79  38.00
10185676 2018-03-31  37892 -0.17 -0.22  7.60  8.65 -0.34  0.24  38.00
10185677 2018-03-31  37893 -0.59 -1.00  8.17  8.04 -0.45  1.23  38.00
10185678 2018-03-31  37894 -0.62 -1.13  8.33  7.19 -0.71  1.76  38.00
10185679 2018-03-31  37895 -0.43 -0.81  8.05  6.50 -0.89  1.91  38.00
10185680 2018-03-31  37896 -0.27 -0.41  7.54  6.21 -0.94  2.00  38.00
10185681 2018-03-31  37897 -0.27 -0.11  7.06  6.34 -1.03  2.18  38.00
10185682 2018-03-31  37898 -0.28  0.15  6.72  6.72 -1.33  2.31  38.00
10185683 2018-03-31  37899 -0.02  0.60  6.51  7.06 -1.73  2.19  38.00
10185684 2018-03-31  37900  0.67  1.40  6.33  7.10 -1.98  1.89  38.00
10185685 2018-03-31  37901  1.65  2.40  6.09  6.69 -1.91  1.74  38.00
10185686 2018-03-31  37902  2.45  3.18  5.75  5.86 -1.63  2.04  37.19
10185687 2018-03-31  37903  2.59  3.23  5.21  4.79 -1.43  2.67  37.00
10185688 2018-03-31  37904  1.90  2.33  4.35  3.67 -1.40  3.17  37.00
10185689 2018-03-31  37905  0.68  0.77  3.08  2.63 -1.39  3.14  37.00

[10185690 rows x 9 columns]

In [61]:
#for no in ['A','B','C','D']:
for no in ['A']:
    track = tracks[no]
    for point in track['キロ程'].unique():
        data = track.loc[track['キロ程'] == point, '高低左']
        intercept, slope = get_intercept_slope(data)

        kilos.query('キロ程 == point')['intercept'] = intercept
        kilos.query('キロ程 == point and rosen == no')['slope'] = slope

10000

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().